#notice= notice

%h1= @topic.title
= link_to 'Back to all topics', topics_path
%p{align: 'center'}= @topic.description

%br

%table{align: 'center'}
	%tr
		%th Items
	- @topic.items.each do |item|
		%tr
			%td= link_to item.title, item

%br
%br

= link_to 'Back to all topics', topics_path

%div{align: 'center'}
	= link_to 'Edit this topic', edit_topic_path(@topic)
	=# link_to 'Destroy this topic', @topic, method: :delete, data: { confirm: 'Are you sure?' }

%br
%br