#notice= notice

%h1= @topic.title
%p{align: 'center'}= @topic.description

%br

%table{align: 'center'}
	%tr
		%th Items
	- @topic.items.each do |item|
		%tr
			%td= link_to item.title, item

%br
%br

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'All Topics', topics_path
