= form_for @user_page do |f|
	- if @user_page.errors.any?
		#error_explanation
			%h2= "#{pluralize(@user_page.errors.count, "error")} prohibited this user_page from being saved:"
			%ul
				- @user_page.errors.full_messages.each do |message|
					%li= message

	.field
		= f.label :title
		= f.text_field :title

	%h3 Topics
	%table
		%tbody
			= f.fields_for :join_topic_user_pages do |join_form|
				= render 'join_topic_user_page_fields', f: join_form
	.links
		= link_to_add_association 'Add another Topic', f, :join_topic_user_pages
		
	.actions
		= f.submit 'Save'
