%h2 Items

%br
%br

%table{align: 'center'}
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.title
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
    %tr
      %td{colspan: '4', align: 'center'}= link_to '+New Item', new_item_path


%br
%br
%br
