%p#notice= notice

%p
	%h2= @item.title
%p
	= link_to @item.link.to_s, @item.link
%p
	- if @item.image_url
		= image_tag @item.image_url, height: '500'
%p
	%i Description:
	= @item.description

%br
%p
	%h5 Topics:
	- @item.topics.each do |topic|
		= link_to topic.title, topic
		%br

%br
%br

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'All Items', items_path
