#notice= notice

%h2= @item.title
= link_to 'Back to all items', items_path

%table
	%tr
		%td= @item.description
		- if @item.image_url
			%td= image_tag @item.image_url, height: '300'

%br

%p
	= link_to @item.link.to_s, @item.link

%br

%table{align: 'center'} 
	%tr
		%th Topics
	- @item.topics.each do |topic|
		%tr
			%td= link_to topic.title, topic
	%br

%br
%br

= link_to 'Back to all items', items_path

%div{align: 'center'}
	= link_to 'Edit this item', edit_item_path(@item)
	\|
	= link_to 'Destroy this item', @item, method: :delete, data: { confirm: 'Are you sure?' }
	
%br
%br