#notice= notice

%h2= @item.title

%table
	%tr
		%td= @item.description
		- if @item.image_url
			%td= image_tag @item.image_url, height: '300'

%br

%p
	= link_to @item.link.to_s, @item.link

%br

%table{align: 'center'} 
	%tr
		%th Topics
	- @item.topics.each do |topic|
		%tr
			%td= link_to topic.title, topic
	%br

%br
%br

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'All Items', items_path
