%h1 Join Topics & Facts Pages

%table
  %thead
    %tr
      %th Order num
      %th Topic
      %th facts page
      %th
      %th
      %th

  %tbody
    - @join_topic_facts_pages.each do |join_topic_facts_page|
      %tr
        %td= join_topic_facts_page.order_num
        %td= join_topic_facts_page.topic.title
        %td= join_topic_facts_page.facts_page.title
        %td= link_to 'Show', join_topic_facts_page
        %td= link_to 'Edit', edit_join_topic_facts_page_path(join_topic_facts_page)
        %td= link_to 'Destroy', join_topic_facts_page, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Join topic facts page', new_join_topic_facts_page_path
