= form_for @facts_page do |f|
	- if @facts_page.errors.any?
		#error_explanation
			%h2= "#{pluralize(@facts_page.errors.count, "error")} prohibited this facts_page from being saved:"
			%ul
				- @facts_page.errors.full_messages.each do |message|
					%li= message
	%br

	%table{align: 'center'}
		%tr.field
			%td= f.label :title
			%td= f.text_field :title
			%td
		%tr.field
			%td= f.label :description
			%td= f.text_area :description
			%td
		%tr
			%td= f.label :topics
			%td
			%td
		%tbody.topics
			= f.fields_for :join_topic_facts_pages, wrapper: false do |join_form|
				= render 'join_topic_facts_page_fields', f: join_form
		%tr.links
			%td
			%td= link_to_add_association '+Add another Topic', f, :join_topic_facts_pages, data: {"association-insertion-node" => "tbody.topics", "association-insertion-method" => "append"}
			%td
		%tr
			%td
			%td.actions
				= f.submit 'Save'
			%td
%br
%br