%p#notice= notice

%p
	%h1= @facts_page.title
	= @facts_page.description
%br

%p
	- @facts_page.topics.each do |topic|
		= link_to topic.title, topic
		= ': '
		- displayed = topic.items.sample
		%strong= displayed.title
		= link_to 'link', displayed.link
		- if displayed.image_url
			%br
			= image_tag displayed.image_url, height: '250'
			%br
		= displayed.description
		%br
		%br
		%br

%br
%br

= link_to 'Edit', edit_facts_page_path(@facts_page)
\|
= link_to 'All facts Pages', facts_pages_path
