!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Facts
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		%header.container
			%nav.navbar.navbar-default
				%div.container-fluid
					%div.navbar-header
						=link_to 'FactsApp', root_path, class: 'navbar-brand'
					%ul.nav.navbar-nav.navbar-right
						- if signed_in?
							%li= link_to 'My Pages', facts_pages_path
							%li= link_to 'Topics', topics_path
							%li= link_to 'Sign Out', sign_out_path, method: :delete
						- else
							%li= link_to 'Sign In', sign_in_path
		%section.container
			#flash
				- flash.each do |key, value|
					%div{:class => "flash #{key}"}= value
			= yield
